<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>For you sindyy ku</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../scss/style.css" />
  </head>
  <body>
    <section class="hero">
      <div class="container">
        <div class="emoji">
          <img src="../../img/2.gif" alt="" />
        </div>

        <div class="name">
          <h1>Cilukkkkkkk Baaaaaa</h1>
        </div>

        <div class="button">
          <button><a href="page2.html">Lagi Yok</a></button>
        </div>
      </div>
    </section>
  </body>
</html>
